.formularioUsuario{
    margin: 100px auto 330px;
    position: relative;
}

.formularioUsuario h1{
    text-align: center;
    margin-bottom: 10px;
}
.formularioUsuario p{
    text-align: center;
}
.formularioUsuario p a{
    color: rgba(84, 175, 132, 0.87);
    text-decoration: none;
}
.formularioUsuario p a:hover{
    text-decoration: underline;
}

.formularioUsuario form{
    display: flex;
    flex-direction: column;
    margin: 50px ;
    align-items: center;

}

.formularioUsuario input{
    background-color: white;
    border: 0;
    width: 350px;
    border-bottom: solid 1px black;
    margin-bottom: 15px;
    height: 30px;
    font-size: 16px;
    color: black;

}
.formularioUsuario .botonEnviar {
    background-color: black;
    color: white;
    border-radius: 50px;
    padding:10px 25px;
    height: auto;
    top: 250px;
    position: absolute;
}

@keyframes BotonEnviar{
0%{
    transform: translateY(0px);
}

50%{
    transform: translateY(-15px);
}



100%{
    transform: translateY(0px);
}
}



.formularioUsuario .botonEnviar:hover{
    animation-name: BotonEnviar;
    animation-iteration-count: inherit;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    background-color: hsla(206, 65%, 45%, 1);
    

}