/* SHOP */

$fontHover: #97b7cc;

.barraFiltros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

    h1{
        margin-right:190px;
        font-size: 38px;
    }

    #dropdowns{
        background-color: white;
        margin-right: 20px;
    }
}

/* desktop */
@media screen and (min-width: 769px) and (max-width: 1024px){
    .barraFiltros{
        justify-content: center;

        h1{
            margin-right:19px;
        }
    }
}

/* tablet */
@media screen and (min-width: 481px) and (max-width: 768px){
    .barraFiltros{
        display: flex;
        flex-direction: column;

        h1{
            margin-right:0px;
        }

        #dropdowns{
            background-color: white;
            margin-right: 0px;
            margin-bottom: 10px;
        }
    }
}

/* smartphone */
@media screen and (max-width: 480px){
    
    .barraFiltros{
        display: flex;
        flex-direction: column;

        h1{
            margin-right:0px;
        }

        #dropdowns{
            background-color: white;
            margin-right: 0px;
            margin-bottom: 10px;
        }
    }
}

.galeria{
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .individual{
        width: 400px;
        height: 500px;
        background-color: #a9c2d3;
        margin-bottom: 25px;
        position: relative;


                &:hover{
                    transform: scale(1.05);
                }

                img{
                    width: 400px;
                    height: 400px;
                }

                h2{
                    font-size: 16px;
                    font-weight:600;
                    text-align: center;
                    color: whitesmoke;
                    margin-top: 15px;
                }

                a{
                    text-decoration: none;
                    color: whitesmoke;
                    position: absolute;
                    top: 90%;
                    left: 130px;
                    background-color: none;
                    font-size: 14px;
                    border: solid 1px whitesmoke;
                    border-radius: 30px;
                    padding: 4px 15px;
                    

                    &:hover{
                        background-color: white;
                        color: $fontHover;
                    }
                }   
    }
}

/*  media query de suscribe */


/* tablet */
@media screen and (min-width: 481px) and (max-width: 768px){

    #suscribe{

        h5{
            text-align: center;
            width: 100%;
        }

        .input-group{
            width: 70%;
        }

}
}

/* smartphone */
@media screen and (max-width: 480px){

    #suscribe{
    
        h5{
            text-align: center;
            width: 100%;
        }

        .input-group{
            width: 70%;
        }
    }
}
