/* aplica a todo */

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    width: 100vw;
}
body{
    background-color: white;
    font-family: Poppins;
}


/* MENÚ */



header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header img{
    width: 230px;
}


/*DISPLAY BOTON SHOP*/
.menuP1{
    display: flex;
    align-items: center;
    position: relative;
}
.menuP1 nav ul li button{
    background-color: white;
    border: none;
}
.menuP1 svg{
    color: black;
}
.menuP1 svg:hover{
    color: #88a7b9;
}
.menuP1 a{
    color: black;
}
.menuP1 .menu_logo {
    display: none;   
}


nav ul li {
    list-style-type: none;
    text-align: center;
    display: inline-block;
    margin: 0 9px;
}
nav ul li a {
    text-decoration: none;
    color:rgb(22, 22, 22);
}
nav a:hover{
    color: #97b7cc;
}

.menu_abrir, .menu_cerrar img{
    width: 30px;
    display: none;
}



/* POPOVER */
.contenedor{
    position: relative;
}
#popover{
    width: 100vw;
    height: 100vh;
    text-align: center;
    animation-name: popover;
    animation-delay: 7s;
    animation-duration: 10s;
    animation-iteration-count: initial;
    background-color: rgba(0, 0, 0, 0.247);
    position: fixed;
    opacity: 0;
    top: 0px;
    z-index: 1;
}
.popover_banner{
    position: absolute;
    top: 35vh;
    left: 40vh;
    background-color: white;
    width: 900px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popover_banner a{
    text-decoration: none;
    color: black;
    margin-bottom: -70px;
    margin-right: -830px;

}
.popover_banner .form-control {
    width: 400px;
}
.popover_banner .btn{
    margin-top: 10px;
    margin-bottom: 70px;
}

@keyframes popover{
    0%{
        opacity: 0;
    }
    1%{
        opacity: 100%;
    }

    100%{
        opacity: 100%;
    }

    }


/* SECCION INTERMEDIA */
#secIntermedia{
    display: grid;
    grid-template-areas: 
    "priImg texto"
    "priImg segImg";
}


.direccionTabla{
    width: 500px;
    grid-area: texto;
    padding-top: 150px;
}
.direccionTabla h1{
    font-weight: 600;
    margin-bottom: 4px;

}
.direccionTabla p{
    font-size: 14px;
    margin-bottom: 10px;
}
.direccionTabla a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    animation-name: resaltar;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}
.direccionTabla a:hover {
    border-bottom: 1px solid;
}

.primeraImg{
    grid-area: priImg;
    margin-left: 60px;
}
.primeraImg img{
    width: 600px;
}
.segundaImg img{
    width: 500px;
    padding-bottom: 130px;
    grid-area: segImg;
}

@keyframes resaltar{
    0%{
        color: rgba(0, 0, 0, 0.90);
    }

    50%{
        color: #90adc2;
    }

    100%{
        color: rgba(0, 0, 0, 0.90);
    }
}

/* SECCION CARRUSEL BOOTSTRAP*/

#carrusel{
    margin-top: -40px;
    margin-bottom: 70px;
    height: 880px;
    width: 100vw;
}
.carousel-inner{
    height: 880px;
}

#sliderIndex{
    height: auto;

}

.carousel-caption {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-caption p{
    margin-top: -500px;
}

.carousel-caption a{
    color:black;
    background-color: #ffffffb6;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    


    animation-name: botonInicio;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
}
@keyframes botonInicio{

    0%{
    padding: 15px 30px;
    }

    50%{
    padding: 15px 100px;
    }

    100%{
    padding: 15px 30px;
    }
}

.carousel-caption a:hover{
    background-color: black;
    color: whitesmoke;
}


/* SECCIÓN FILTRO */

.barraFiltros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
.barraFiltros h1{
    margin-right:170px;
    font-size: 38px;
}

.filter{
    margin-right: 20px;
 

}
.filter a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.753);
    font-weight: 500;
    
}
#dropdowns{
 background-color: white;
 margin-right: 20px;
}
.dropdown button{
    color: rgba(0, 0, 0, 0.753);
}

.dropdown button:hover{
    color: black;
    font-weight: 500;
}




/* INFORMACIÓN SHOP */


.infoShop h1{
    color: black;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 40px;
}
.infoShop p{s
    color: black;
    margin-left: 20px;
}




/* NOSOTROS */

#nosotros{
    display: grid;
    grid-template-areas: 
    "img1 texto"
    "img1 img2"
    ;

}
.tituloNos{
    display: none;
}
.textoNos{
    width: 500px;
    color: black;
    margin-top: 200px;
    margin-left: 400px;
    grid-area: texto;
}


.portadaNos{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -50px;
}
.portadaNos img{
    width: 100vw;
    height: auto;
}
.portadaNos h1{
    color: black;
    font-weight: 500;
    font-size: 35px;
    z-index: 1;
    position: absolute;
}

.portadaNos a{
    color: black;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    position: absolute;
    margin-top: 80px;
    animation-name: nosotros;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes nosotros{
0%{
    margin-bottom: 15px;
}

25%{
    margin-bottom: 5px;
}

50%{
    margin-bottom: 15px;
}

75{
    margin-bottom: 5px;
}

100%{
    margin-bottom: 15px;
}
}


.portadaNos a:hover{
    color: #ffffff;
}

.imagen1 {
    width: 300px;
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: 70px;
    grid-area: img1;
}
.imagen1 img{
    width: 550px;
    animation-name: backgroundNos;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.imagen1 img:hover{
    width: 600px;
}

.imagen2 {
    width: 400px;
    margin-top: -100px;
    margin-left: 400px;
    grid-area: img2;
    animation-name: backgroundNos2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#nosotros{
    height: 1050px;

}

@keyframes backgroundNos{
    0%{
        /*transition: width 1s;*/
        width: 550px;
    }
    100%{
        width: 600px;
    }
}

@keyframes backgroundNos2{
    0%{
        /*transition: width 1s;*/
    margin-left: 350px;
    }
    100%{
        margin-left: 500px;
    }
}


/* SECCIO INICIAR SESIÓN */

.infoContacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 100px;
    margin-top: 40px;
    height: 150px;
    background: linear-gradient(315deg, hsla(206, 65%, 45%, 1) 13%, hsla(173, 56%, 45%, 1) 44%, hsla(214, 75%, 56%, 1) 80%, hsla(206, 65%, 45%, 1) 100%);   
    background-size: 600% 100%;
    color: white;
    animation-name: gradient;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes gradient{
    0%{
        background-position: 0%; }

    100%{
        background-position: 100%;
    }
}
#informacionContacto h1{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 45px;

}
.infoContacto h2{
    margin:0px 10px 0 20px;
    align-content: center;
}
.infoContacto p{
    margin:5px 40px 0 5px;

}

/* FORMULARIO INICIAR SESIÓN */

.formularioUsuario{
    margin: 100px auto 330px;
    position: relative;
}

.formularioUsuario h1{
    text-align: center;
    margin-bottom: 10px;
}
.formularioUsuario p{
    text-align: center;
}
.formularioUsuario p a{
    color: rgba(84, 175, 132, 0.87);
    text-decoration: none;
}
.formularioUsuario p a:hover{
    text-decoration: underline;
}

.formularioUsuario form{
    display: flex;
    flex-direction: column;
    margin: 50px ;
    align-items: center;

}
/*.formularioUsuario label{
    font-size: 14px;
    margin-left: -230px;
}*/
.formularioUsuario input{
    background-color: #white;
    border: 0;
    width: 350px;
    border-bottom: solid 1px black;
    margin-bottom: 15px;
    height: 30px;
    font-size: 16px;
    color: black;

}
.formularioUsuario .botonEnviar {
    background-color: black;
    color: white;
    border-radius: 50px;
    padding:10px 25px;
    height: auto;
    top: 250px;
    position: absolute;
}

@keyframes BotonEnviar{
0%{
    transform: translateY(0px);
}

50%{
    transform: translateY(-15px);
}



100%{
    transform: translateY(0px);
}
}



.formularioUsuario .botonEnviar:hover{
    animation-name: BotonEnviar;
    animation-iteration-count: inherit;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    background-color: hsla(206, 65%, 45%, 1);
    

}





/* INFORMACIÓN REGISTRO */

/*.infoRegistro{
    margin-bottom: 610px;
    margin-top: 40px;

}
.infoRegistro h1{
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
}
.infoRegistro p{
    color: black;
    margin-left: 20px;
}*/

.formularioUsuarioR{
    margin: 0 auto 230px;

}

.formularioUsuarioR h1{
    text-align: center;
    margin-bottom: 10px;
}
.formularioUsuarioR p{
    text-align: center;
}
.formularioUsuarioR p a{
    color: rgba(84, 175, 132, 0.87);
    text-decoration: none;
}
.formularioUsuarioR p a:hover{
    text-decoration: underline;
}

.formularioUsuarioR form{
    display: flex;
    flex-direction: column;
    margin: 50px ;
    align-items: center;

}

.formularioUsuarioR input{
    background-color: #white;
    border: 0;
    width: 350px;
    border-bottom: solid 1px black;
    margin-bottom: 25px;
    height: 30px;

}
.formularioUsuarioR .botonEnviar {
    background-color: black;
    color: white;
    border-radius: 50px;
    padding:10px 25px;
    height: auto;
    top: 550px;
    position: absolute;
}

.formularioUsuarioR .botonEnviar:hover{
    animation-name: BotonEnviar;
    animation-iteration-count: inherit;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    background-color: hsla(206, 65%, 45%, 1);

}

/* SECCION CUIDÁ TUS PIEZAS */

.cuidadoDePeizas{
    text-align: center;
    margin: 150px 40px 150px;

}  
.cuidadoDePeizas h2{
    margin-bottom: 40px;
    font-weight: 450;
    font-size: 30px;
}
.cuidadosGral{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
}
.cuidados{
    background-color: #a9c2d3;
    width: 350px;
    margin-right: 15px;
}

.cuidados:hover{
    transform: scale(1.1);
    background-color: #b1cfe2;
}
.cuidados p{
    width: 250px;
    height: 200px;
    margin: auto ;  
    padding-top: 50px;  


}



/* FLEZBOX QUICKSHOP */

#quickShop h2{
    font-weight: 450;
    font-size: 30px;
    margin-top: 100px;
    text-align: center;
    margin-bottom: -50px;
}

.showLine img{
    margin-left: 5px;
    height: 400px;
    width: 400px;
}

.showLine{
    display: flex;
    flex-flow: row nowrap;
    overflow: scroll;
    margin-top: 80px;
    margin-bottom: 100px;
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-direction: alternate;
    overflow: hidden;
}


  @keyframes slidein {
    0% {
      margin-left: 0;
    }
  
    100% {
      margin-left: -1100px;
    }
  }
  

.showLine:hover{
    transition: left 400px;
}

.showLine a{
    filter: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.showLine a:hover{
    /*transform: scale(1.01);*/
    filter: blur(1.5px);
}

/* ACORDEONLIMPIAR */

#contenedorLimpiar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px auto 100px;
}
.acordeonLimpiar{
    width: 600px;
}
.acordeonLimpiar h3{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
.acordeonLimpiar h4{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}




/* SUSCRIBE */

#suscribe{
    height: 300px;
    background-color: #a9c2d3;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -30px;
    animation-name: suscribe;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
}


@keyframes suscribe{
0%{
    background-color: #a9c2d3;
}

50%{
    background-color: #50748b;
}

100%{
    background-color: #89b3cf;
}
}

#suscribe h5{
    font-size: 16px;
    width: 600px;
    margin-left: 0px;
    color: white;

}

.input-group{
    width: 600px;
}

.btn{
    background-color: black;
    color: white;
}
.btn:hover{
    background-color: white;
    color: black;
}

/* SUSCRIBEINDEX*/

#suscribeIndex{
    height: 300px;
    background-color: #a9c2d3;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -100px;
    animation-name: suscribe;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
}

@keyframes suscribe{
    0%{
        background-color: #a9c2d3;
    }

    50%{
        background-color: #50748b;
    }

    100%{
        background-color: #89b3cf;
    }
}


#suscribeIndex h5{
    font-size: 16px;
    width: 600px;
    margin-left: 0px;
    color: white;
}

.input-group{
    width: 600px;
}

.btn{
    background-color: black;
    color: white;
}
.btn:hover{
    background-color: white;
    color: black;
}

/* TABLA */

/*#tabla h1{
    font-size: 25px;
    color: black;    
    text-align: center;
    margin-top: 50px;
    font-weight: 500;

}

table{
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%); 
    border: 2px black solid;
    color:black;
    margin: auto;

}
table li{
    list-style-type: circle;
    margin-left: 40px;
}
table img{
    height: 200px;
    width: 200px;
    margin: 5px;
}*/

/* FORMULARIO */

/*.formulario h2{
    font-size: 20px;
    color: black;
    text-align: center;
}
.formulario{
    color: black;
    background-color: white;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.formulario form{
    margin: auto;
    padding-top: 30px;


}
.formulario h4{
    color: black;
    font-weight: 600;

}
.formulario label{
    color: black;
    font-weight: 600;
}
.checkBox1{
    display: inline;
}
.formulario input{
    background-color: white;
    border: 0;
    border-bottom: solid 1px black;
    font-size: 14px;
}
.botones input{
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 400;
    padding: 5px 15px;
}*/




#informacionContacto h1{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;    
    font-size: 25px;


}

.formulario form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}
.formulario label{
    font-size: 14px;
}
.formulario input{
    background-color: white;
    border: 0;
    width: 350px;
    border-bottom: solid 1px black;
    margin-bottom: 5px;
    height: 30px;
}

.formulario h4{
    font-size: 15px;
    /*font-weight: 600;*/
    margin-bottom: 15px;
}
.checkBox1 input{
    width: auto; 
    height: auto;

}

.formulario textarea{
    width: 400px;
}

.botones input{
    margin-top: 20px;
    border: 0;
    background-color:black ;
    width: 400px;
    padding: 5px 10px;
    color: white;

}

.botones input:hover{
    background-color:rgba(84, 175, 132, 0.87) ;
    color: black;
    

}

#contacto{
    display: flex;
    justify-content: space-evenly;

}

/* VIDEO SHOP */

.videoShop{
margin-left: 200px;
margin-bottom: 130px;
margin-top: 20px;
}
.tituloVideoShop h2{
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
    margin-left: 0px;
}

/* SECCIÓN SHOP / GALERÍA */

.individual{
    width: 400px;
    height: 500px;
    background-color: #a9c2d3;
    margin-bottom: 25px;
    position: relative;
}

.individual:hover{
    transform: scale(1.05);
}


.individual img{
    width: 400px;
    height: 400px;
    align-items: center;
}

.individual h2{
    font-size: 16px;
    font-weight:600;
    text-align: center;
    color: whitesmoke;
    margin-top: 15px;
}

.individual a{
    text-decoration: none;
    color: whitesmoke;
    position: absolute;
    top: 90%;
    left: 130px;
    background-color: none;
    font-size: 14px;
    border: solid 1px whitesmoke;
    border-radius: 30px;
    padding: 4px 15px;
}
.individual a:hover{
    background-color: white;
    color: black;
}

.galeria{
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/* BOTON CHAT */

.botonChat{
    height: 50px;
    width: 50px;
    position: fixed;
    right: 20px;
    top: 900px;
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 10%;
    background-color:black;
    color: white;
    justify-content: space-between;
    padding-left: 30px;
}
footer nav{
    text-align: left;
    font-size: 13px;
    margin-bottom: 10px;
}
footer nav ul{
    display: flex;
    justify-content: center;
}
footer nav ul li{
    margin-right: 15px;
}
footer ul li a{
    color: white;
    text-decoration: none;
    list-style-type: none;
}

footer ul li a:hover{
    color: rgb(94, 132, 158);
}

footer img{
    width: 130px;
}

footer p{
    color: white;
    font-size: 13px;
}
/*-------------------------------------------------------------------------------------*/
 /* SMARTPHONE */

@media screen and (max-width: 767px) {
    /* estilos css */
    /*body {
        background-color: #b1c7ee;
    }*/
    html{
        width: 100vw;
    }

    /*MENU*/

        /*MENU*/

        header{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
        }
        header img{
            width: 80px;
        }
        
        
        /*DISPLAY BOTON SHOP*/
        .menuP1{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100vw;
            padding-top: 30px;
        }
        .menuP1 nav ul li button{
            background-color: #a9c2d3;
            border: none;
            margin-left: 50px;
        }
        .menuP1 nav ul li button:hover{
            background-color: #a9c2d3;
        
        }
        .menuP1 svg{
            color: black;
            background-color: #a9c2d3;
        }
        .menuP1 svg:hover{
            color: white;
            background-color: #a9c2d3;
        }
        .menuP1 a{
            color: black;
            display: flex;
            justify-content: flex-end;
            margin-right: 50px;
        }
        header a{
            width: 100vw;
        }
        
        #nav ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        #nav ul li {
            list-style-type: none;
            text-align: center;
            display: inline-block;
            padding:2px;
        }
        #nav ul li a {
            text-decoration: none;
            color:rgb(22, 22, 22);
            font-size: 15px;
            width: 100%;
    
        }
        #nav a:hover{
            color: white;
        }
    
        .menu_abrir{
            width: 100vw;
        }
        .menu_abrir img{
            display: block;
            width: 25px;
        }
        .menu_cerrar img{
            display: block;
            width: 25px;
            margin-top: 30px;
        }
    
        .menuP1 .menu_logo {
            display: flex;
            width: 200px;
            margin-left: 20px;
        }
        .nav_logo img{
            display: none;
        }
        #nav{
            position: absolute;
            top: -400%;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #a9c2d3;
            padding-top: 30px;
            padding-bottom: 20px;
            height: auto;
            z-index: 1;

            transition: top 1s ease-in-out;
        }
    
        #nav:target{
            top: 0;
        }
    /*header{
        margin-top: 170px;
            display: flex;
            flex-direction: column;
        }
    
    .logo img{
        display: block;
        width: 150px;
        text-align: center;
    }
    .menuImg{
        grid-area: IMG;
        display: none;
    }
    nav ul li {
        display: block;
        padding-bottom: 10px;
    }
    nav ul li a{
        font-size: 15px;
    }*/



    /*CARRUSEL*/
    #carrusel{
    margin-top: 0px;
    height: auto;
    width: 100vw;
    z-index: 0;
    }

    .carousel-caption h1{
        margin-top: -180px;    
    }

    .carousel-inner{
        height: auto;
    }
    /*SECCION INTERMEDIA*/
    #secIntermedia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px auto;
    }
    .direccionTabla{
        width: 300px;
        margin: auto;

    }
    .direccionTabla h1{
        font-weight: 600;
        margin-bottom: 4px;
        font-size: 25px;
        margin: auto;

    }
    .direccionTabla p{
        font-size: 14px;
        margin-bottom: 30px;
        margin: auto;

    }
    
    .primeraImg img{
        display: none;
    }
    .segundaImg{
        margin: auto;
        margin-top: 40px;
    }
    .segundaImg img{
        width: 300px;
    }




    /*CUIDADOS DE PIEZAS*/
    .cuidadoDePeizas h1{
    margin-bottom: 60px;
    font-size: 25px;
    font-weight: 600;
    }
    .cuidadosGral{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
    }
    .cuidados{
        background-color: #a9c2d3;
        width: 350px;
        margin-right: 15px;
        margin-bottom: 15px;
    }
    .cuidados p{
        width: 250px;
        height: 200px;
        margin: auto ;  
        padding-top: 50px;  
    }


    /* QUICKSHOP */
    #quickShop{
        display: none;
    }
   


    /*CONTENEDOR LIMPIAR*/
    #contenedorLimpiar img{
        display: none;
    }
    .acordeonLimpiar{
        width: 600px;
        margin-bottom: 50px;
    }
    .acordeonLimpiar h3{
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
    }
    .acordeonLimpiar h4{
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }

    /* SUSCRIBITEINDEX */
    #suscribeIndex h5{
        text-align: center;
    }
    .input-group{
        width: 400px;
    }


    /* FOOTER */
    footer{
        display: flex;
        align-content: center;
        padding-top: 40px;
    }
    footer nav ul{
        display: flex;
        flex-direction: column;
    }
    footer nav ul li{
        text-align: left;
    }

    footer{
        display: grid;
        grid-template-areas: 
        "menu logo"
        "menu firma"
        ;
    }

    footer nav{
        grid-area: menu;
    }
    footer img{
        grid-area: logo;
        margin: auto;


    }
    footer p{
        grid-area: firma;

    }


    /* SHOP */
    .barraFiltros{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-top: 100px;
    }
    .filter{
        display: none;
    }

    /* SUSCRIBITE */

    #suscribe h5{
        text-align: center;
    }
    .input-group{
        width: 400px;
    }

    /* NOSOTROS */

    .portadaNos{
        display: none;
    }

    #nosotros{
        display: grid;
        grid-template-areas: 
        "titulo"
        "texto"
        "img2"
        ;
        justify-content: center;

    }

    .tituloNos{
        display: inline-block;
        grid-area: titulo;
        margin-top: 200px;
    }
    .tituloNos h2{
        text-align: center;
        margin-left: 400px;

}
    .textoNos{
        width: 400px;
        text-align: center;
        font-size: 15px;
        margin-top: 10px;
        color: black;
        grid-area: texto;
    }
    .imagen1 img{
        display: none;
    }
    
    .imagen2 {
        width: 200px;
        grid-area: img2;
    }
    .imagen2 img{
        width: 400px;
        margin-top: 150px;
    }




    /* CONTACTO */

    #informacionContacto h1{
        text-align: center;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 25px;
    }
    .infoContacto{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding: 30px 0 30px;
    }
    .infoContacto h2{

        margin: 0;
        align-content: center;
    }
    .infoContacto p{
        margin:5px;
        margin-bottom: 15px;
    }
    #contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    /* REGISTRO */
    .formularioUsuarioR{
        margin-top: 170px;
    }
    .formularioUsuarioR .botonEnviar {
        top: 730px;
    }

}








/* TABLET */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* estilos css */
    body {
        /*background-color: #a4b0c4;*/
        width: 100vw;

    }

    html{
        width: 100vw;
    }

    /*MENU*/

    header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    header img{
        width: 80px;
    }
    
    
    /*DISPLAY BOTON SHOP*/
    .menuP1{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }
    .menuP1 nav ul li button{
        background-color: #a9c2d3;
        border: none;
    }
    .menuP1 nav ul li button:hover{
        background-color: #a9c2d3;
    
    }
    .menuP1 svg{
        color: black;
        background-color: #a9c2d3;
    }
    .menuP1 svg:hover{
        color: white;
        background-color: #a9c2d3;
    }
    .menuP1 a{
        color: black;
        display: flex;
        justify-content: flex-end;
        margin-right: 50px;
    }
    header a{
        width: 100vw;
    }
    
    #nav ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    #nav ul li {
        list-style-type: none;
        text-align: center;
        display: inline-block;
        margin: 0 2px;
        padding:2px;
    }
    #nav ul li a {
        text-decoration: none;
        color:rgb(22, 22, 22);
        font-size: 13px;
        width: auto;

    }
    #nav a:hover{
        color: white;
    }

    .menu_abrir{
        width: 100vw;
    }
    .menu_abrir img{
        display: block;
        width: 25px;
    }
    .menu_cerrar img{
        display: block;
        width: 25px;
        margin-left: 40px;
    }

    .menuP1 .menu_logo {
        display: flex;
        width: 200px;
        margin-left: 20px;
    }
    .nav_logo img{
        display: none;
    }
    #nav{
        position: absolute;
        top: -400%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #a9c2d3;
        padding-top: 30px;
        padding-bottom: 20px;

        transition: top .8s ease-in-out;
    }

    #nav:target{
        top: 0;
    }

    /*CARRUSEL*/
    #carrusel{
        margin-top: -20px;
        height: auto;
        width: 100vw;
    }

    .carousel-caption h1{
        margin-top: -250px;
    }

    .carousel-inner{
        height: auto;
    }

    /*SECCION INTERMEDIA*/
    #secIntermedia{
        display: grid;
        grid-template-areas: 
        "priImg texto"
        "priImg segImg";
    }
    .direccionTabla{
        width: 300px;
        grid-area: texto;
        padding-top: 90px;
        margin-bottom: 30px;
    }
    .direccionTabla h1{
        font-weight: 600;
        margin-bottom: 4px;
        font-size: 25px;
    }
    .direccionTabla p{
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    .primeraImg img{
        width: 400px;
    }
    .segundaImg img{
        width: 300px;
        padding-bottom: 130px;
        grid-area: segImg;
    }

    /*CUIDADOS DE PIEZAS*/
    .cuidadoDePeizas h1{
        margin-bottom: 60px;
        font-size: 30px;
        font-weight: 600;
    }
    .cuidadosGral{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
    }
    .cuidados{
        background-color: #a9c2d3;
        width: 350px;
        margin-right: 15px;
        margin-bottom: 15px;
    }
    .cuidados p{
        width: 250px;
        height: 200px;
        margin: auto ;  
        padding-top: 50px;  
    }

    /*CONTENEDOR LIMPIAR*/
    #contenedorLimpiar img{
        display: none;
    }
    .acordeonLimpiar{
        width: 600px;
        margin-bottom: 50px;
    }
    .acordeonLimpiar h3{
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
    }
    .acordeonLimpiar h4{
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }

    /*FOOTER*/
    footer{
        display: flex;
        align-content: center;
        padding-top: 40px;
    }
    footer nav ul{
        display: flex;
        flex-direction: column;
    }
    footer nav ul li{
        text-align: left;
    }

    footer img{
        width: 130px;
        padding-bottom: 20px;
    }
    
    footer p{
        color: white;
        font-size: 13px;
    }



    /* NOSOTROS */

    .portadaNos{
        width: 100%;
        height: auto;

    }
    .portadaNos h1{
        color: black;
        font-weight: 500;
        font-size: 35px;
        z-index: 1;
    }

    #nosotros{
        display: grid;
        grid-template-areas: 
        "img1 texto"
        "img1 img2"
        ;
    }
    .tituloNos{
        display: none;
    }
    .textoNos{
        width:350px;
        font-size: 15px;
        color: black;
        margin-top: 100px;
        margin-left: -30px;
        grid-area: texto;
    }
    .imagen1 img{
        width: 300px;
        margin-top: 40px;
        margin-left: -30px;
        grid-area: img1;
    }
    
    .imagen2 {
        width: 300px;
        margin-top: -100px;
        margin-bottom: 100px;
        margin-left: -30px;
        grid-area: img2;
    }
    .imagen2 img{
        width: 300px;
        margin-top: 150px;
    }



    /* CONTACTO */

    #informacionContacto h1{
        text-align: center;
        font-weight: 500;
    
    }
    .infoContacto{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
        padding: 5px 0 30px;
    }
    .infoContacto h3{
        margin:0px;
        align-content: center;
    }
    .infoContacto p{
        margin:5px;
        margin-bottom: 15px;
    }



    /* REGISTRO */
    .formularioUsuarioR{
    margin-top: 100px;
    }
    .formularioUsuarioR .botonEnviar {
        top: 650px;
    }
    

}











/* DESKTOP */

@media screen and (min-width: 1024px) and (max-width: 1300px){
    /* estilos css */

    html{
    width: 100vw;
    }


    .carousel-caption h1{
    margin-top: -300px;
}

.carousel-inner{
    height: auto;
}

/*SECCION INTERMEDIA*/
       #secIntermedia{
        display: grid;
        grid-template-areas: 
        "priImg texto"
        "priImg segImg";
    }
    
    
    .direccionTabla{
        width: 400px;
        grid-area: texto;
        padding-top: 150px;
    }
    .direccionTabla h1{
        font-weight: 600;
        margin-bottom: 4px;
    
    }
    .direccionTabla p{
        font-size: 14px;
        margin-bottom: 10px;
    }

    
    .primeraImg{
        grid-area: priImg;
        margin-left: 30px;
    }
    .primeraImg img{
        width: 500px;
    }
    .segundaImg img{
        width: 400px;
        padding-bottom: 130px;
        grid-area: segImg;
    }

        /*CONTENEDOR LIMPIAR*/
        #contenedorLimpiar img{
            display: none;
        }



/*NOSOTROS*/
.portadaNos{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portadaNos h1{
    color: black;
    font-weight: 500;
    font-size: 35px;
    z-index: 1;
}


#nosotros{
    display: grid;
    grid-template-areas: 
    "img1 texto"
    "img1 img2"
    ;
}
.textoNos{
    width: 400px;
    color: black;
    margin-top: 100px;
    margin-left: 250px;
    grid-area: texto;
}
.imagen1 img{
    width: 400px;
    margin-top: 40px;
    margin-left: 70px;
    grid-area: img1;
}

.imagen2 {
    width: 200px;
    margin-top: -100px;
    margin-left: 250px;
    grid-area: img2;
}
.imagen2 img{
    width: 400px;
    margin-top: 150px;
}
}

